body {
    font-family: sans-serif;
    margin: 0;
}

#chat {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#output {
    flex-grow: 1;
    margin: 1rem 1rem 0 1rem;

    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

#send {
    display: block;
    flex: none;
    margin: 0.2rem 0 0 0;
}

#send input {
    width: 100%;
    font-size: 120%;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    padding: 0.4rem;
}

#send input:focus {
    outline: none;
    border-color: #ecc;
}

#messages p {
    margin: 0.2rem 0;
}

#messages p.fresh {
    max-height: 0;
}

#messages p.fresh.done {
    max-height: 3ex;
    transition: max-height 0.2s linear;
}
