body {
    font-family: sans-serif;
    margin: 0;
}

#chat {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#output {
    flex-grow: 1;
    margin: 0;

    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

#send {
    display: block;
    flex: none;
    margin: 0;
}

#send input {
    width: 100%;
    font-size: 120%;
    padding: 0.4rem;
    margin: 0;

    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
}

#send input:focus {
    outline: none;
    border-color: #FF9F80;
}

#messages p {
    margin: 0;
    padding: 0.3rem 1rem;
}

#messages p.fresh {
    max-height: 0;
    background-color: #EFFAB4;
}

#messages p.fresh.done {
    max-height: 3ex;
    background-color: transparent;
    transition: max-height 0.2s linear,
        background-color 4.0s ease-in-out;
}

#messages p .user {
    font-weight: bold;
    color: #ccc;
    margin-right: 0.8em;
}
