<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Band</title>
</head>
<body>
    Hi.

    <div id="output">
    </div>

    <input type="text" id="input">
</body>
<script>
window.addEventListener("DOMContentLoaded", (event) => {
    console.log("ready");

    const source = new EventSource("/sse");
    source.addEventListener('open', (event) => {
        console.log("open", event);
    });
    source.addEventListener('error', (event) => {
        console.log("error", event);
    });

    source.addEventListener('message', (event) => {
        console.log("message", event);
    });
});
</script>
</html>
