<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Band</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="chat">
        <div id="output">
            <div id="messages">
            </div>
        </div>
        <form id="send">
            <input type="text" id="sendMessage"
                placeholder="Type a message!">
        </form>
    </div>

    <script>var BAND_ROOM_ID = "{{room_id}}";</script>
    <script src="/static/js/chat.js"></script>
</body>
</html>
